
name: CI

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  sample-app:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: labs/sample-app  # run commands in the sample app folder

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install
        run: npm ci

      - name: Test (with coverage)
        run: npm test -- --coverage --ci

      - name: Upload coverage artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: labs/sample-app/coverage/**
